div {
  background-color: red;
  width: 65px;
  height: 65px;
  border: 1px solid black;
  margin-left: 10px;
  background-clip: content-box;
}

#first{
  padding: 10px;
  margin-bottom: 50px;
}

#second{
padding-top: 30px;
padding-right: 55px;
padding-bottom: 30px;
padding-left: 55px;
margin-bottom: 5px;
}

#third{
padding: 20px;
padding-bottom: 40px;
margin-bottom: 100px;
}

#fourth{ 
padding-top: 10px;
padding-right: 75px;
padding-bottom: 35px;
padding-left: 150px
}